body {
  display: flex;
  align-items: center;
  margin-top: 150px;
  flex-direction: column;
}

textarea {
  width: 40%;
  border-radius: 20px;
  font-size: larger;
  color: rgba(2, 2, 2, 0.767);
  padding: 10px 20px;
  font-weight: 600;
}

input[type='button'] {
  border: none;
  font-size: large;
  font-weight: 600;
  color: rgba(2, 2, 2, 0.909);
  padding: 20px 40px;
  background-color: rgba(0, 0, 0, 0.228);
  border-radius: 10px;
}

#output {
  font-size: xx-large;
  font-weight: bold;
  color: rgb(60, 30, 5);
}